#circuits {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    display: grid;
    grid-template-columns: 135px 135px 135px 135px 135px;
    grid-template-rows: auto;
    grid-gap: 20px;
}

li.miniButton {
    background: #535a5a;
    width: 135px;
    height: 135px;
    align-items: center;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 4px #000;
    border-radius: 4px;
}

li.miniButton:hover {
    background: #788282;
}

.miniButton.active {
    background: #00d700 !important;
}

.miniButton.active > p {
    color: #0c500c !important;
}

.miniButton > img {
    margin-top: 30px;    
    color: #0c500c;
}

.miniButton > p {
    padding: 0;
    margin-top: 10px;
    font-size: 80%;
    text-align: center;    
    max-width: 135px;
    color: #ddd;
}
