#main {
    margin: 0 auto;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: flex;
    flex-direction: row;
}

ul {
    padding: 0 50px;
    list-style-type: none;
}

li.miniButton {
    background: #535a5a;
    width: 135px;
    height: 135px;
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 5px;
    box-shadow: 2px 2px 4px #000;
    border-radius: 4px;
}

li.miniButton:hover {
    background: #788282;
}

.miniButton.active {
    background: #00d700;
}

.miniButton > img {
    margin-top: 30px;    
}

.miniButton > p {
    font-size: 1rem;
    text-align: center;
    width: 135px;
}
