* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

html, body, #root {
  min-height: 100%;

}

body {
  background: #16181b;
  background-size: cover;
  -webkit-font-smoothing: antialiased !important;
}

*, body, input, button {
  font-family: 'Play', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  padding: 25px;
}

.container {
  margin: 40px auto;
  max-width: 1024px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px;
}

#logo-tri {
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 15px
}

.dark-toast {
  background: #788282;
  color: #ecf0f0
}